@model IEnumerable<SalesProductManagement.Models.Store>

@{
    ViewBag.Title = "Index";
}

<h2>Stores</h2>



<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<p>

    <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-info btn-lg" onclick=" $('#btnCreate').show(); $('#btnUpdate').hide();">Create New</a>
</p>
<table class="table  table-striped">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Id)</th>

            <th>

                @Html.DisplayNameFor(model => model.Name)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>Action(Edit)</th>
            <th>Action(Delete)</th>
        </tr>
    </thead>
    <tbody id="SetStoresList"></tbody>

    @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td></td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }*@

</table>
<br />

<div class="modal " id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Store Details</h3>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form id="CustomerForm">
                    <fieldset id="Submitform">
                        @* @Html .HiddenFor(m=>m.Id,new { @Id = "CustomerId" })*@

                        <div class="form-group">
                            Name
                            @* @Html.TextBoxFor( model => model.Name,new {@class="form-control" ,@placeholder="Name"})*@
                            <label display="none" id="lblId" hidden="hidden"></label>
                            <input type="text" class="form-control" id="txtStoreName" />
                        </div>
                        <div class="form-group">
                            Address
                            @* @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })*@
                            <input type="text" class="form-control" id="txtStoreAddress" />
                        </div>

                    </fieldset>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="btnCreate" class="btn btn-default   right" type="button" onclick="AddData()">Save</button>
                <button id="btnUpdate" class="btn btn-default  right" type="button" onclick="UpdateStore()">Update</button>
                <button id="btnCancle" class="btn btn-default  right" type="button" data-dismiss="modal">Cancle</button>
            </div>

        </div>
    </div>
</div>

<script>

    //Getting Customers
    $(document).ready(loadData())
    function loadData() {
        $.get("/Stores/CreateStores", null, DataBind);
        $('#btnUpdate').hide();
        $('#btnCreate').show();
        function DataBind(storesList) {
            $("#btnCreate").show();
            // alert($("#SetCustomersList").text);
            var rows = " ";
            $('#SetStoresList').empty();
            var dt = JSON.stringify(storesList);
            // alert(CustomerList.Name);

            $.each(storesList, function (i, item) {
                 rows = "<tr class='row_"+item.Id +"' >"+
                    "<td>"+item.Id+"</td>"+
                    "<td>" + item.Name + "</td>" +
                    "<td>" + item.Address + "</td>" +
                     "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStore(" + item.Id +")'><span class='glyphicon glyphicon-edit'></span>Edit</a>" + "</td>" +
                    "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStore(" + item.Id +")'><span class='glyphicon glyphicon-trash'></span>Delete</a>" + "</td>" +
                    "</tr>";
                $('#SetStoresList').append(rows);
            });
        }
    }

    //Adding New Customer

    var AddData=function () {

        $("#modalTitle").Htmt="Add Stores";
        // var myformData = $("#CustomerForm").serialize();

        var StoreObj = {

            Name: $('#txtStoreName').val(),
            Address: $('#txtStoreAddress').val()
        };
        var rows = " ";
        // var mydata = $("CustomerForm").serialize();
        $.ajax({
            type: "POST",
            datatype: "json",
            //URL: "/Customers/Create",
            url:'@Url.Action("Create","Stores")',
            data: {
                Name: $('#txtStoreName').val(),
                Address: $('#txtStoreName').val()
            },
            success: function (data) {
                alert(data);
                $("#myModal").modal("hide");
                 rows = "<tr class='row_'" + data + "' >" +
                     "<td>" + data + "</td>" +
                     "<td>" + StoreObj.Name + "</td>" +
                     "<td>" + StoreObj.Address + "</td>" +
                     "<td>" + "<a href='#' class='btn btn-warning' onclick='EditStore(" + data + ")'><span class='glyphicon glyphicon-edit'></span>Edit</a>" + "</td>" +
                     "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteStore(" + data + ")'><span class='glyphicon glyphicon-trash'></span>Delete</a>" + "</td>" +
                     "</tr>";
                $('#SetStoresList').prepend(rows);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        })
    }
    //Updating row from Customer Table

    function EditStore(id) {

            $.ajax({
                type: "POST",
                datatype: "json",
                url: "/Stores/GetStoreByid",
                data: { Id: id },
                success: function (data) {
                   // alert(data.Name);
                   // loadData();
                    $("#lblId").val(id);
                    $('#txtStoreName').val(data.Name);
                    $('#txtStoreAddress').val(data.Address);
                    $('#btnUpdate').show();
                    $('#btnCreate').hide();
                    $('#myModal').modal('show');

                },
               error : function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
       // });
    }
//Updating Customer
    function UpdateStore() {
        alert($("#lblId").val());

         // var mydata = $("CustomerForm").serialize();
        $.ajax({
            type: "POST",
            datatype: "json",

            url: '@Url.Action("Update", "Stores")',
            data: {
                Id: $("#lblId").val(),
                Name: $('#txtStoreName').val(),
                Address: $('#txtStoreAddress').val()
            },
            success: function (result) {
                alert(result);
                if (result == true) {
                    loadData();
                    $('#txtStoreName').val(" ");
                     $('#txtStoreAddress').val(" ");
                }
                //alert(result);
                $("#myModal").modal("hide");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    //Deleting Customer

    function DeleteStore(id) {
        $.ajax({
            type: 'get',
            ajaxasync:true,
            url: '/Stores/Delete',
            data: { Id: id },

            success: function () {
                if (id != null) {
                    $(".row_" + id).remove();
                    // tr.remove();
                    alert("successfully deleted");
                }
            },
            error: function () {
                alert("failed");
            }
        });
    }


</script>

